//- Header
.header {
  z-index: index($z-index, header);
  position: fixed;
  width: 100vw;
  box-sizing: border-box;
  background-image: linear-gradient(120deg, $colorPrimary 200px, $colorSecondary);

  .row {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .col-4 {
    min-width: 300px;
  }
}

.logo {
  display: flex;
  align-items: center;
  height: 60px;

  .title {
    margin-left: 15px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $colorWhite;
  }
}
.logo_block {
  position: relative;
  @include size(40px);
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  border-radius: 5px;
  border: 3px solid $borderLogo;

  span {
    position: absolute;
    top: -1px;
    right: 2px;
    font-family: 'Baloo Da 2', cursive;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    color: $colorLogo;
  }
  :first-child {
    top: -1px;
    left: -1px;
    @include size(35px);
    transform: rotate(-90deg);
    font-size: 35px;
    line-height: 35px;
    color: $colorLogoP;
  }

  .cover {
    position: absolute;
    top: -3px;
    left: -3px;
    @include size(40px);
  }
}

.navbar {
  .list {
    height: 70px;
    text-align: right;
  }

  .item {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
    cursor: pointer;
    font-size: 1.05rem;
    line-height: 70px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $colorWhite;
    &::after {
      content: '';
      position: absolute;
      bottom: 10px;
      left: 50%;
      @include size(0, 3px);
      transition: 0.3s;
      background-color: $colorWhite;
    }
    &:hover::after {
      left: 0;
      width: 100%;
    }
  }
}

// 資訊圖示
.info {
  margin: auto;
  padding: auto;
  padding-right: 10px;
  text-align: right;
}
.icon {
  display: inline-block;
  @include size(20px);
  line-height: 20px;
  text-align: center;
}
.plurk_icon {
  position: relative;
  display: inline-block;
  @include size(18px);
  font-family: sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 3px;
  background-color: $colorWhite;
  color: $colorSecondary;
  &::before {
    content: attr(data-tip);
    position: absolute;
    display: block;
    top: 25px;
    right: -10px;
    @include size(75px, 22px);
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 22px;
    letter-spacing: 0.1em;
    border-radius: 3px;
    background-color: $colorPrimary;
    color: $colorWhite;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    top: 20px;
    left: 3px;
    @include triangle($colorPrimary, top, 8px, 6px);
  }
  &::before,
  &::after {
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
  }
  &:hover::before,
  &:hover::after {
    visibility: visible;
    opacity: 1;
  }
}

.menu {display: flex;}
.menu_toggle {
  flex-grow: 1;
}
.menu .info {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-left: 25px;
  text-align: left;
}
.menu .plurk_icon {
  &::before {
    top: -30px;
    left: -10px;
    background-color: $colorSecondary;
  }
  &::after {
    top: -10px;
    @include triangle($colorSecondary, bottom, 8px, 6px);
    border-bottom: none;
  }
}