//- Menu
.menu {
  z-index: index($z-index, menu);
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  @include size(150px, 100vh);
  box-sizing: border-box;
  padding-top: 100px;
  padding-left: 10px;
  background-color: $colorPrimary;
}

.menu_list {
  padding-left: 25px;
  color: $colorWhite;

  .item {
    position: relative;
    cursor: pointer;
    font-size: 1.1rem;
    & + .item {
      margin-top: 10px;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -10px;
      @include size(3px, 0);
      transition: 0.3s;
      background-color: $colorSecondary;
    }
    &:hover::after,
    &.active::after {
      height: 100%;
    }
  }
}

.menu_sub {
  z-index: index($z-index, submenu);
  bottom: 0;
  width: 330px;
  padding-left: 150px;
  border-right: 1px solid $colorLightGary;
  background-color: rgba($colorLightGary, 0.1);

  .item {
    display: block;
    font-size: 1rem;
    & + .item {
      margin-top: 5px;
    }
    &:first-child {
      margin-bottom: 30px;
    }
    &::after {
      background-color: $colorSuccess;
    }
    a, a:visited {
      text-decoration: none;
      color: $colorPrimary;
    }
  }
}

#other_block .menu_sub .item:first-child {
  margin-bottom: 0;
}

//- Main
.main {
  padding-left: 360px;
  padding-right: 30px;
}

.control {
  display: none;
}

//- Export
.btn_Group {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0;
  left: 0;
  @include size(330px, 100vh);
  padding-top: 110px;
  padding-left: 150px;
  box-sizing: border-box;
}
.btn {
  z-index: 0;
  position: relative;
  width: 80px;
  box-sizing: border-box;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px 5px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  background-color: $colorSecondary;
  color: $colorWhite;
  box-shadow: 1px 1px 3px $colorLightGary;
  &:last-child {
    margin-top: 50px;
  }
  &::before {
    content: '';
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%);
    opacity: 0;
    transition: 0.3s;
    background-color: rgba($colorWhite, 0.1);
  }
  &:hover::before {
    opacity: 1;
  }
  &:active {
    top: 1px;
    left: 1px;
    box-shadow: none;
  }
}
.btn-danger {
  background-color: $colorDanger;
}
.export {
  width: 80%;
  height: calc(100vh - 200px);
  box-sizing: border-box;
  margin-top: 100px;
  padding: 10px;
  resize: none;
  outline: none;
  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1em;
  border-radius: 3px;
  border: 1px solid $colorPrimary;
  background-color: transparent;
}
